:root{
  //padding
  --padding-xxs: 5px;
  --padding-xs: 6px;
  --padding-s: 10px;
  --padding-sm: 13px;
  --padding-m: 15px;
  --padding-xm: 20px;
  --padding-l: 25px;
  --padding-ml: 30px;
  --padding-xl: 40px;

  //margin
  --margin-xs: 5px;
  --margin-s: 10px;
  --margin-sm: 12px;
  --margin-m: 15px;
  --margin-x: 20px;
  --margin-xl: 40px;

  //border-radius
  --border-radius-xxs: 5px;
  --border-radius-xs: 7px;
  --border-radius-s: 8px;
  --border-radius-xm: 9px;
  --border-radius-m: 10px;
  --border-radius-l: 15px;
  --border-radius-xl: 20px;
}










