:root {
  --font-family-primary: "Montserrat", sans-serif;

  --font-size-xs: 10px;
  --font-size-s: 11px;
  --font-size-m: 12px;
  --font-size-l: 14px;
  --font-size-xl: 16px;
  --font-size-xxl: 18px;
  --font-size-xxxl: 20px;
  --font-size-big: 24px;
  --font-size-large: 36px;


  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;
  --font-weight-extra-bold: 800;
}
